{% include 'top.html' %}

<div class="content">
    <div class="container">
        <h1 class="title" align="center">Cars</h1>
        <div class="search">
            <form class="search-top" method="POST" action="{{url_for('list_car')}}">
                <input type="text" name="search" placeholder="Search Cars" autofocus>
                <button class="flat" type="submit">Find</button>
                <div class="clear"></div>
            </form>
        </div>
        <table class="styled">
            <thead>
                <tr>
				    <th>ID</th>
                    <th>Make & Model</th>
                    <th>Status</th>
                    <th>Type - Wheel</th>
                    <th>Purchase Date</th>
                    <th>Managed By</th>
					<th>Description</th>
                </tr>
            </thead>
            <tbody>
                    {% for i in car %}
                    <tr class='clickable-row' data-href="{{url_for('update_car', car_id=i.car_id, makemodel=i.makemodel, status=i.status, typewheel=i.typewheel, purchasedate=i.purchasedate, employee=i.employee, description=i.description)}}" method="GET">
					    <td>{{ i.car_id }}</td>
                        <td>{{ i.makemodel }}</td>
                        <td>{{ i.status }}</td>
                        <td>{{ i.typewheel }}</td>
                        <td>{{ i.purchasedate }}</td>
                        <td>{{ i.employee }}</td>
						<td>{{ i.description }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" defer="defer"> jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
	$(".clickable-row").mouseover(function() {
        $(this).css('background-color', '#eeeeee');
    });
	$(".clickable-row").mouseout(function() {
        $(this).css('background-color', 'white');
    });

});
</script>

{% include 'bottom.html' %}
